<header class="site-header">
    <div class="cover">
        <h1>影沢家</h1>
    </div>
</header>

<nav class="head_tabs">

    <a href="#" class="head_tab_item" data-page="home">
        ホーム
    </a>

    <a href="#" class="head_tab_item" data-page="profile">
        プロフィール
    </a>

    <a href="#" class="head_tab_item" data-page="hobby">
        趣味部屋
    </a>

    <a href="#" class="head_tab_item" data-page="kss-cup">
        KSSカップ
    </a>

    <a href="#" class="head_tab_item" data-page="links">
        リンク集
    </a>

</nav>